* {
    margin: 0;
    padding: 0;

}

#navbar {
    display: flex;
    align-items: center;

}

#logo {
    margin: 15px 37px;

}

#logo img {
    height: 60px;
    width: 60px;
    border-radius: 100%;
    margin: -28px 7px;
    ;
}

#navbar ul {
    display: flex;
}

#navbar ul li {
    list-style: none;
    font-size: 1rem;
    padding: 36px 22px;


}

#navbar ul li a {
    color: white;
    /* display: block; */
    text-decoration: none;
    padding: 3px 22px;
    border-radius: 20px;
    font-family: "Playwrite GB J", cursive;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

#navbar::before {

    content: " ";
    background-color: black;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
    top: 0;
    left: 0;
}

#navbar {
    position: relative;

}

#navbar ul li a:hover {
    color: rgb(16, 16, 16);
    background-color: azure;
    /* padding: 36px 24px; */
    border-radius: 20px;

}

#home {
    display: flex;
    flex-direction: column;
    padding: 3px 250px;
    justify-content: center;
    align-items: center;
    height: 350px;

}

#home::before {
    content: " ";
    background: url('../project\ images/food-1285295.jpg') no-repeat center center/cover;
    position: absolute;
    height: 550px;
    width: 100%;
    z-index: -1;
    opacity: 0.80;
    top: 0;
    left: 0;
}

#home h1 {
    color: #072300;
    text-align: center;
    font-family: "Playwrite GB J", cursive;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

#home p {
    color: #254117;
    text-align: center;
    font-size: 1.2rem;
    font-family: "Playwrite GB J", cursive;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    margin-bottom: 40px;
}

/* utility class */

.h-primary {
    font-size: 3.0rem;
    padding: 30px;
}

.btn {
    --b: 3px;
    /* border thickness */
    --s: .45em;
    /* size of the corner */
    --color: #373B44;


    padding: calc(.5em + var(--s)) calc(.9em + var(--s));
    color: var(--color);
    --_p: var(--s);
    background:
        conic-gradient(from 90deg at var(--b) var(--b), #0000 90deg, var(--color) 0) var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
    transition: .3s linear, color 0s, background-color 0s;
    outline: var(--b) solid #0000;
    outline-offset: .6em;
    font-size: 16px;

    border: 0;

    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    cursor: pointer;
}

.btn:hover,
.btn:focus-visible {
    --_p: 0px;
    outline-color: var(--color);
    outline-offset: .05em;
}

.btn:active {
    background: var(--color);
    color: #fff;
}

.h1-primary {
    /* display: flex; */
    margin-top: 130px;
    text-align: center;
    font-family: "Playwrite GB J", cursive;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-size: 2.5rem;
}

#services img {
    /* display: flex; */
    height: 100%;
    width: 230px;
    margin-top: -35px;
    margin-bottom: -35px;
    margin-left: 70px;
    justify-content: center;

}

#services {
    display: flex;
    flex-direction: column;
    border: 2px solid #373B44;
    text-align: center;
    width: 370px;
    /* height: 350px; */
    justify-content: center;
    border-radius: 25px;
    margin: 20px;
    padding: 0px 40px;
    margin-left: 30px;
    margin-top: 30px;
}

.h2-secondary {
    font-family: "Playwrite GB J", cursive;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    margin-top: -5px;



}

.services-container p {
    font-family: "Playwrite GB J", cursive;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    margin-top: -2px;
    padding: 5px;
    padding-bottom: 25px;

}

.all {
    display: flex;

}

.clients img{
    height: 80px;
    width: 100px;
    padding-left: 100px;
    margin-top: -25px;
}

/* .clients.section{
    display: flex;
    padding-top: 50px;
    justify-content: center;
    
} */

.h1-primaryclients{
    margin-top: 30px;
    text-align: center;
    font-family: "Playwrite GB J", cursive;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-size: 2.5rem;
}


.items{
    display: flex;
    justify-content: center;
    padding-top: 70px;
}

.clients.section::before{
    content: "";
    position: absolute;
    background-image: url('../project\ images/foodi.jpg')  ;
    height: 300px;
    width: 100%;
    z-index: -1;
    opacity: 0.72;
   background-repeat: no-repeat;
   background-size: cover;
    
    
}

.clients.section{
    padding-top: 40px;
    margin-top: -28px;
   
}

#contact{
    font-family: "Playwrite GB J", cursive;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    position: relative;
    margin-top: 73px;
    padding-bottom: 20px;
   
}

#contact::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
    background: url('../project\ images/contact-us-4193523.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100%;
}
.contact.head{
/* margin-top: 120px; */
text-align: center;
font-size: 2.5rem;
font-weight: bolder;
padding: 30px;

}

.form input,
.form textarea
{
width: 100%;
padding: 0.5rem;
border-radius: 20px;

}

.form{
display: flex;
justify-content: center;
align-items: center;


}

.end{
    background-color: black;
    color: white;
    text-align: center;
}